.singleQDiv {
  display: flex;
  width: 720px;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-left: 2px solid rgba(128, 128, 128, 0.315);
  border-bottom: 2px solid rgba(128, 128, 128, 0.315);
}

.sglQh3 {
  color: rgb(93, 144, 192);
  padding-left: 1rem;
  text-align: justify;
}

.h3Answer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: rgb(226, 231, 235);
}

.answerDiv {
  width: 720px;
  margin: 0 auto;
  margin-top: 2rem;
  color: rgb(207, 207, 207);
  border-bottom: 1px solid rgba(128, 128, 128, 0.788);
}
.answerPDiv {
  margin-left: 20px;
}

.editInput {
  width: 200px;
  border: none;
  border-bottom: 2px solid #7aa7c7;
  padding-top: 17px;
  padding-left: 17px;
  background: none;
  color: #a0c7e4;
  font-size: large;
}
.editInput:focus {
  outline: none;
}

.answerEdited {
  display: flex;
  justify-content: flex-end;
  font-weight: 100;
  margin-top: 10px;
  font-size: smaller;
}

.create {
  padding-top: 4rem;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
form a {
  text-decoration: none;
}
.formH3 {
  font-size: 20px;
  color: #2c5777;
  margin-bottom: 10px;
}
.fromLabel {
  text-align: left;
  display: block;
}

.formText {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.btnEditDiv {
  display: flex;
  align-items: flex-end;
}

.singleQbtn {
  background-color: #4b93c7;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  outline: none;
  padding: 1px 0.6em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.singleQbtn:hover,
.singleQbtn:focus {
  background-color: #07c;
}

.singleQbtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.singleQbtn:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btnDel {
  background-color: #33536d;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  outline: none;
  padding: 1px 0.6em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btnDel:hover,
.btnDel:focus {
  background-color: rgb(187, 19, 19);
}

.btnDel:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.btnDel:active {
  background-color: #0064bd;
  box-shadow: none;
}
